@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


body{
  font-family: Outfit, sans-serif;
}

.active{
  background-color: #ffebf5;
  border-color:#C586A5;
}

select,textarea{
  border:1px solid #c2c2c2;
  outline:#c586a5;
  border-radius: 4px;
}

@layer base{
  input{
    @apply rounded-md w-full px-3 py-1.5  
    border border-gray-300 outline-[#c586a5]
  }
}


.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}